/*
Project Name: Ukrainian Media Usage and Top Resources
Client: Disco Cat
Author: DAT
Developer @ the DAT in Washington DC
*/


/******************************************
/* BASE STYLES
/*******************************************/


.splash{
	background:rgb(90,90,90);
	color:#fff;
}


/******************************************
/* DRAWER
/*******************************************/


.flag{
	width:50px;
}

.tree {
  height:200px;
}

.tree-chart {
  bottom:0;
  position:absolute;
  z-index:20;
}

.overview {
	background_color: #EFEFEF;
}

.chart-title{
	height:30px;
}

.group {
	vertical-align: baseline;
  padding:1px 8px 8px 8px;
  background: #303030;
}
.first {
  background: #202020;
  border-bottom: 1px solid #303030;
}

.overview ul li {
	float:left;
	list-style:none;
}

.charthead {
  color:white;
}
/*.overview ul {
	padding:0px;
  margin-bottom: 0px;
}
*/
.horizontal {
	justify-content: space-between;
}

/*.overview-value {
	color:#ccc;
}
.overview-label {
	color:#808080;
	margin-left:8px;
	margin-right:0px;
}
*/
.pie-graph {
	background-color: transparent;
}

.pie-graph {
	background-color: transparent;
}
.filtered {
  color: yellow;
}



/******************************************
/* Tree Graph
/*******************************************/

.node {
	position: absolute;
	overflow:hidden;
/*	-moz-box-shadow:    inset 0 0 10px #FFFFFF;
   -webkit-box-shadow: inset 0 0 10px #FFFFFF;
   box-shadow: inset 0 0 10px #FFFFFF;
	 */
	 outline:white dotted thin;
	 background-color:#501566;

}
.node div{
    color:white;
}

.tree-graph {
  width:100%;
  height:100%
}
/******************************************
/* Plots
/*******************************************/

.tick text {
  color:#808080;
}
/******************************************
/* Line Graph
/*******************************************/
#leaning {
  stroke-width:1;
  stroke:rgb(255,0,0);

}
#leaningCirc {
	fill:#501566;
	stroke:#501566;
}

#leaningLine{card
	width:75%;
}
/******************************************
/* Map
/*******************************************/

.img-container {
	position:relative;
	width:100%;
}
.img-container #base {
	z-index:0;
	width:inherit;
}
.img-container #labels {
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	width:inherit;
	pointer-events: none;

}


#ukraine {
	position:absolute;
	stroke:black;
	stroke-width:2;
	top:0;

}
.cities {
  fill:pink;
  fill-opacity:.8;
  stroke:red;
  stroke-width:2;

}
.cities.selected {
	fill:yellow;
}

.notSelected {
  fill:purple;
	opacity:.1;
}
.oblasks:hover {
	opacity:.2;
}
.oblasks.selected {
  fill:yellow;
	opacity:.2

}
