/*
Project Name: Ukrainian Media Usage and Top Resources
Client: Disco Cat
Author: DAT
Developer @ the DAT in Washington DC
*/


/******************************************
/* BASE STYLES
/*******************************************/


.tooltip {
  position: absolute;
  text-align: center;
/*  height: 12px; */
  padding: 8px;
  margin-top: -20px;
  font: 10px sans-serif;
  background: #ddd;
  pointer-events: none;
}

.splash{
	background:rgb(90,90,90);
	color:#fff;
}




/******************************************
/* DRAWER
/*******************************************/

.tree {
  height:200px;
}

.tree-chart {
  bottom:0;
  position:absolute;
  z-index:20;
}

.overview {
	display:block;
	z-index:6;
	position:absolute;
	right:0px;
	height:100%;
	background:rgba(25,</span>25,25,.9);
	color:#999;
	width: 400px;
}

.group {
	vertical-align: baseline;
  padding:1px 8px 8px 8px;
  background: #303030;
}
.first {
  background: #202020;
  border-bottom: 1px solid #303030;
}



.overview ul li {
	float:left;
	list-style:none;

}

.charthead {
  color:white;
}
.overview ul {
	padding:0px;
  margin-bottom: 0px;
}
.horizontal {
	justify-content: space-between;
}

.overview-value {
	color:#ccc;
}
.overview-label {
	color:#808080;
	margin-left:8px;
	margin-right:0px;
}
.pie-graph {
	background-color: transparent;
}

.pie-graph {
	background-color: transparent;
}
.filtered {
  color: yellow;
}

.selected {
  fill:yellow;
}

/******************************************
/* Tree Graph
/*******************************************/

.node {
	position: absolute;
	overflow:hidden;
	-moz-box-shadow:    inset 0 0 10px #FFFFFF;
   -webkit-box-shadow: inset 0 0 10px #FFFFFF;
   box-shadow: inset 0 0 10px #FFFFFF;

}
.node div{
    color:white;
}

.tree-graph {
  width:100%;
  height:100%
}
/******************************************
/* Plots
/*******************************************/

.tick text {
  color:#808080;
}
/******************************************
/* Line Graph
/*******************************************/
#leaning {
  stroke-width:1;
  stroke:rgb(255,0,0);
}
/******************************************
/* Map
/*******************************************/
.cities {
  fill:pink;
  fill-opacity:.8;
  stroke:red;
  stroke-width:2;
}
.oblasks {
  fill:grey;
  stroke:white;
  stroke-width:2;
}
