/*
Project Name: Ukrainian Media Usage and Top Resources
Client: Disco Cat
Author: DAT
Developer @ the DAT in Washington DC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}


/******************************************
/* Map STYLES
/*******************************************/

svg {
}

.country {
    fill: #eee;
}

.country.UKR {
    fill: #fff;
}

.country-boundary {
    fill: none;
    stroke: #aaa;
}

.region {
    fill: none;
}

.region-boundary {
    fill: none;
    stroke: #777;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
}

.region-boundary.selected {
    stroke-dasharray: none;
}

.coastline, .river, .lake {
    stroke: rgb(83, 168, 231);
}

.coastline, .river {
    fill: none;
}

.lake {
    fill: rgb(191, 216, 242);
}

/*
.regions-list {
    padding-left: 1em;
    column-width: 14em;
    -webkit-column-width: 14em;
    -moz-column-width: 14em;
}
 */


/******************************************
/* BASE STYLES
/*******************************************/
div,html,body {
	margin:0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font:inherit;
}


body.frontpage {
	position: fixed;
	height: 100%;
	width: 100%;
	overflow: hidden

}
body {
  line-height: 1.4;
  color: #404040;
  font-family: 'Noto Serif', serif;
  font-weight: 400
}

#header {
  background: #606060;
  padding: 1%;
  height: 45px;
  width:100%;
  position: absolute;
  top:0px;
}

h1 {
  font-size: 22px;
  color: white;

}
h1.title {
	line-height:45px;
	padding:0;
	border:0;
	float:left;
}

/******************************************
/* MAP
/*******************************************/

#map { 
	height:100%;
	width:65%;
	position: absolute;
	left: 0%;
	top: 45px;
	overflow: hidden;

}

/******************************************
/* DRAWER
/*******************************************/

.overview ul li {
 float:left
}

.vert-graph rect {
	fill: steelblue;

}
.vert-graph text {
	fill:white;
}

.node {
	position: absolute;
	overflow:hidden;	
}
.node div{	
}
#drawer {
	position: absolute;
	top: 45px;
	width: 35%;
	background: rgba(32,32,32,.9);
	right: 0px
}

.drawer-content {
	position: absolute;
	padding: 15px;
	height: 100%
}
.group {
	float:left;
	margin-right:10px;
	}
	.group.first {
	
	}
.pie-graph {
	background-color: transparent;
} 	
